body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,p,blockquote,th,td,figure{margin:0;padding:0;}
 li{list-style-type:none}
  ul{margin:0px;padding:0px}
 img{border:0px;}
 a{text-decoration:none;color:#333}
 a:hover{text-decoration:underline}
body{ font-family:Arial; font-size:12px; background:url(scbody.png) repeat-x 0 130px}
h4{font-size:15px;color:#333;}
font{font-size:12px}
.l{ float:left}
.r{ float:right}
.clear{ clear:both;}
.blank10{height:10px; overflow:hidden}
.idx{width:1200px;margin:0 auto;}
.Dg{width:1192px;margin:0 auto; line-height:35px;height:35px; font-size:12px;color:#666;padding-left:8px; font-family:Arial, Helvetica, sans-serif}
.Dg a{padding:0px 1px;color:#0270ce;}




